/* main website */

@media only screen and (max-width:970px) {
    .heading {
        font-size: 3.5rem;
    }

    .title {
        font-size: 2.2rem;
    }

    .text {
        font-size: 1.5rem;
    }


    .container__intro-item {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        position: relative;
        padding: 30px 0 20px 0;
    }

    .container__intro-slider img {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    .container__intro-content {
        order: 1;
    }

    .container__intro-slider {
        order: 2;
    }

    .container__intro-descript {
        padding-top: 5px;
    }

    .container__intro-item:nth-child(3)::before {
        content: "";
        position: absolute;
        width: 60%;
        background-color: rgba(28, 78, 91, 0.738);
        height: 4px;
        border-radius: 20px;
        top: 4px;
        transform: translateY(100%);
    }

    /*news*/
    .container__news-list {
        display: block;
        margin: 0 auto;
    }

    .container__news-item {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }

    .news__item-img {
        width: 100%;
        flex: 1;
    }

    .news__item-content {
        flex: 1;
    }

    .group_item {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .news__item-title {
        order: 1;
    }

    .button-link--ttn-dhd {
        position: absolute;
        bottom: 1px;
        right: 0;
        transform: translateY(-30%);
        font-size: 1.2rem;
    }

    .container__contact-wrap {
        flex: 1;
        flex-wrap: nowrap;
        margin: 0;
    }

    .contact__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .contact__image {
        flex: 5;
        display: flex;
        align-items: center;
    }

    .news__item-head {
        font-size: 1.6rem;
    }

    /* footer */



    .footer__head {
        flex-direction: column;
    }

    .footer_head-logo {
        display: block;
        margin: 0 auto;
    }

    .footer__social-connect {
        margin: 0 auto;
        padding-top: 20px;
    }

    .footer__content {
        flex-direction: column;
        width: 70%;
    }

    .footer .title {
        font-size: 2rem;
    }

    .footer__about .footer__about-text,
    .footer .text {
        font-size: 1.5rem;
    }

    .footer__copyright {
        width: 90%;
        margin: 0 auto;
    }
    .footer__about .footer__about-text {
        padding-right: 0;
    }

    .button-link {
        font-size: 1.2rem !important;
    }

    .page-up-btn {
        display: block;
    }
}



@media screen and (max-width: 360px) {
    .button-link--ttn-dhd {
        position: relative;
        margin-top: 10px;
    }

    .container__contact-wrap {
        flex-direction: column;
    }

    .contact__content {
        margin: 0 auto;
        /* text-align: center; */
    }

    .contact__content-info {
        flex: 1;
    }

    .contact__content-info {
        padding: 0;
    }

    .footer__head {
        flex-direction: column;
    }

    .footer_head-logo {
        display: block;
        margin: 0 auto;
    }

    .footer__social-connect {
        margin: 0 auto;
        padding-top: 20px;
    }

    .footer__content {
        flex-direction: column;
        width: 70%;

    }

    .footer .title {
        font-size: 1.7rem
    }

    .footer__about .footer__about-text {
        padding: 0;
    }

    .footer__about .footer__about-text,
    .footer .text {
        font-size: 1.2rem;
    }

    .footer__copyright p {
        margin-top: 32px;
    }

    .footer__social-btn {
        height: 20px;
        width: 20px;
    }

    .footer__social-btn i {
        font-size: 1rem;
    }
}



@media screen and (max-width: 468px) {
    .button-link--ttn-dhd {
        position: relative;
        margin: 10px auto;
    }

    .footer__social-btn {
        height: 20px;
        width: 20px;
    }
    .footer__copyright .text {
        font-size: 1.4rem;
    }
    .special__mednews-head,
    .special__mednews-title {
        font-size: 1.3rem;
    }
}


@media screen and (max-width: 650px) {
    .container__contact-wrap {
        flex-direction: column;
    }

    .contact__content {
        margin: 20px auto;
        /* text-align: center; */
    }

    .contact__content-info {
        flex: 1;
    }

    .contact__content-info {
        padding: 0 !important;
    }
    .heading {
        font-size: 2.2rem;
    }

    .title {
        font-size: 2.2rem;
    }

    .text {
        font-size: 1.5rem;
    }
}


@media only screen and (max-width:656px) {
    .container__intro-heading {
        padding-top: 20px;
    }

    .container__intro-item {
        padding: 0;
    }

    .container__intro-content-wrap {
        width: 100%;
        padding: 0 20px
    }

    .container__intro-item--dhd {
        margin-top: 20px;
    }

    .container__intro-item:nth-child(3)::before {
        top: 0px;
    }

    .container__news-item {
        flex-direction: column;
    }

    .button-link {
        margin: 0 auto;
    }

}




/* navbar responsive */

@media screen and (max-width: 1000px) {
    .header__navbar-start {
        display: none;
        width: auto;
        justify-content: center;

    }

    .header__navbar {
        height: 40px;
        box-shadow: none;
        background-color: transparent;
        position: fixed;
    }

    .header__navbar-links {
        float: right;
        position: fixed;
        z-index: 0;
        left: 0;
        right: -100%;
        top: 0;
        bottom: 0;
        margin-left: auto;
        width: 80%;
        height: auto;
        flex-direction: column;
        background-color: rgb(0, 53, 145);
        overflow: hidden;
        transition: all .5s ease-in-out;
        justify-content: space-evenly;

    }

    .header__navbar-link {
        font-size: 1.5rem;
    }

    .header__navbar .icon-burger {
        display: block;
    }

    .header__navbar :checked~.header__navbar-links {
        right: 0;
    }

    .header__navbar :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(8px) rotate(225deg);
    }

    .header__navbar :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-8px) rotate(-225deg);
    }

    .header__navbar :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }


}


@media screen and (max-width: 656px) {
    .header__navbar-link {
        font-size: 1.2rem;
    }

    .contact__image {
        width: 100%;
    }
}


@media screen and (max-width: 360px) {
    .header__navbar-link {
        font-size: 1.0rem;
    }
}

@media screen and (max-width:950px) {
    .container__contact-heading {
        text-align: center;
    }

    .contact__image {
        flex-wrap: wrap;
    }
}


@media screen and (max-width:1000px) {
    .container__heading {
        text-align: center;
    }

    .container__special-bigwrap {
        margin: 0;
    }

    .container__special-bigwrap {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .container__essay-head {
        font-size: 1.6rem;
    }

    .container__essay-content .heading {
        font-size: 2rem;
    }

    .container__essay-similar .container__heading {
        text-align: center !important;
        font-size: 2rem;
    }

    .grid-column-7,
    .grid-column-5 {
        width: 90%;
    }

    .special__smallnews-wrap {
        flex-direction: row;
        width: 100%;
    }

    .special__smallnews {
        flex: 1;
        padding: 0 20px;
        flex-direction: column;
    }

    .special__smallnews-head,
    .special__smallnews-title {
        padding-left: 0;
        padding: 20px 0;
        font-size: 1.2rem;
    }

    .special__smallnews-content:nth-last-child(3) {
        display: flex;
    }

    .special__smallnews-wrap .special__smallnews:nth-child(2)::after,
    .special__smallnews-wrap .special__smallnews:nth-child(2)::before {
        display: none;
    }

    .special__smallnews-content .tag {
        margin-left: 0;
    }

    .container__special-wrap {
        margin: 0;
        padding-top: 0;

    }

    .tag--ttn,
    .tag--dhd {
        font-size: 1rem;
    }

    .tag--dhd {
        margin-left: 10px;
    }

    .special__mednews-head,
    .special__mednews-title {
        font-size: 1.6rem;
    }

    .container__ttn,
    .container__dhd {
        padding-right: 0;
        margin: 0 20px;
    }

    .container__relatedpost {
        display: none;
    }

    .small-news {
        flex-direction: row;
    }

    .container__ttn-dhd .small-new__content {
        margin: 0 20px;
        flex: 3;
    }

    .container__ttn-dhd-wrap {
        padding: 0 20px;
    }

    .header__navbar-links.navbar-scroll {
        display: none !important;
    }

    .header__navbar.navbar-scroll {
        box-shadow: unset !important;

    }

    .container__essay-content {
        padding: 0;
        margin: 0 20px;
    }

}

@media screen and (max-width:940px) {
    .special__smallnews {
        /* padding: 0; */
        margin: 0;
    }

    .special__smallnews-wrap {
        flex-direction: column;
    }

    .special__smallnews-wrap {
        flex-direction: row;
    }
}

@media screen and (max-width:790px) {
    .special__smallnews-wrap {
        flex-direction: column;
    }

    .special__smallnews {
        flex-direction: row;
        align-items: center;
        padding: 20px 10px;
    }

    /* .special__smallnews-content{
        margin-left: 20px;
        
    } */
    .special__mednews-image {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .special__mednews-content {
        left: 10%;
        width: 80%;
    }

    .container__ttn-dhd .special__smallnews-img {
        flex: 5;
    }

    .container__special-wrap {
        flex-direction: column;
    }

    .container__ttn-dhd .special__smallnews-head,
    .special__bignews-head {
        font-size: 1.2rem;
    }

    .container__special-wrap {
        flex-wrap: nowrap;
    }

}

@media screen and (max-width:590px) {
    .special__smallnews {
        flex-direction: column;
    }
    .container__ttn-dhd .small-new__content{
        margin:0;
    }

}

@media screen and (max-width:1150px) {

    .header__navbar-link{
        font-size: 1.25rem;
    }
}